{% extends "layout.html" %}
{% block title %}Space Exploration Portal{% endblock %}

{% block content %}
  <h1 class="display-4">Image of the Day:</h1>

  <p2> src="{{ landing_image }}"</p2>
  <img src="{{ landing_image.hdurl }}">
{% endblock %}
